{% extends 'base.html' %}

{% block content %}

<h1>Sign up</h1>
<form method="POST" class="post-form">{% csrf_token %}
<table>
    <tr>
        <td>Email<</td>
        <td>{{ user_form.username }}</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>{{ user_form.password }}</td>
    </tr>
    <tr>
        <td>First name</td>
        <td>{{ user_form.first_name }}</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>{{ user_form.last_name }}</td>
    </tr>
    <tr>
        <td>Birth date</td>
        <td>{{ profile_form.birth_date }}</td>
    </tr>
</table>
    <button type="submit" class="save btn btn-default">Submit</button>
</form>

{% endblock %}